  
.box {
    height: 40px;
    width: 76px;
    border: solid 5px white;
    background-color: black;
}
.holder.over{
    background-color: aqua;
    border: solid 5px aqua;
    
}
.holder {
    height: 48.5px;
    width: 84px;
    margin: 14.25px;
    background-size: auto 87.7572px;
    border: solid 5px black;
    background-color: white;
    display: inline-block;
}



.container {
   width: 656px;
   height: 388px; 
}
