* {
  box-sizing: border-box;
  margin: 0;
}

header {
  width: 1920px;
  height: 240px;
  display: block;
  background-image: url(../src/teemo-bg.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
}

.family-sites {
  height: 40px;
  background-color: #3a3f4c;
}

.sitecontainer {
  display: block;
  margin: 0 381.5px;
}

.sitecontainer ul {
  display: flex;
}

.sitecontainer ul li {
  display: inline-block;
  padding: 0 16px;
}

.sitecontainer ul li a {
  font-size: 12px;
  color: #c0daf1;
  text-decoration: none;
  line-height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.sitecontainer img {
  height: 16px;
  width: auto;
  margin: -2px 4px 0 0;
  vertical-align: middle;
}

.head-banner {
  display: flex;
  margin: 0 381.5px;
}

.logo {
  height: 150px;
}

.logo a {
  margin: 58px 20px;
  display: flex;
  text-decoration: none;
}

.logo a h1 {
  color: white;
  margin: 0 0 0 15px;
  font-weight: 400;
  font-size: 2em;
}

.logo a img {
  height: 40px;
}

.record-search-box {
  margin: 56px;
  display: inline;
}

.record-search-box form {
  display: flex;
  width: 274px;
  height: 30px;
  position: absolute;
  right: 381.5px;
  margin: 0 16px;
}

.record-search-box form input {
  width: 274px;
  border-style: none;
  border-radius: 0.25em;
  padding: 1px 8px 1px 62px;
  margin: 0 5px;
}

.dropdown {
  position: absolute;
  width: 55px;
  height: 26px;
  font-size: 11px;
  padding: 4px 8px;
  background-color: #343a40;
  color: white;
  border-radius: 0.25em;
  border: 0;
  top: 2px;
  left: 8px;
}

.dropdown ::before {
  content: "";
  background: url(../src/iconimg/triangle.png);
  position: absolute;
  left: 10px;
  top: 8px;
}

.submitbtn {
  position: absolute;
  border: none;
  display: inline-block;
  background-image: url(../src/iconimg/glass.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 12px;
  height: 13px;
  padding: 1px 6px;
  top: 8px;
  right: 12px;
}

.submitbtn::before {
}

.site-menu {
  height: 50px;
  width: 1920px;
  display: inline-block;

  background-color: rgba(0, 0, 0, 0.4);
}

.site-menu ul {
  display: flex;
  margin: 0 381.5px;
}

.site-menu ul li {
  margin: 0 8px;
  padding: 16px 0;
}

.site-menu ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #d6d6d6;
}

.toptier {
  color: orange;
  text-decoration: none;
}

.site-menu ul a:hover {
  border-bottom: 4px solid white;
}

.site-menu ul li span::before {
  content: "";
  color: #999;
  border-right: 2px solid;
  height: 15px;
}

ul {
  list-style-type: none;
}

.head-main {
  display: inline-block;
}

.site-main {
  display: inline-block;
}

.sitecontainer ul {
  display: inline-block;
}
